<ion-view view-title="Swing"><ion-nav-title></ion-nav-title>
<ion-nav-buttons side="right">
<a href="#/info" style="color: black !important;"><i class="fa fa-info-circle fa-2x" aria-hidden="true" style="margin-top: 5px;"></i></a>
      
    </ion-nav-buttons>

  <ion-content class="padding has-header">

    <div class = "row" >
      <div class = "col col-50"><a ng-href="#/kreirajStudenta"><i class="icon ion-plus-circled"></i><br>Kreiraj studenta</a></div>
      <div class = "col col-50"><a ng-href="#/kreirajGrupu"><i class="icon ion-plus-circled"></i><br>Kreiraj grupu</a></div>
    </div>
    <div class = "row" >
      <div class = "col col-50" ng-show="admin"><a ng-href="#/kreirajTrenera"><i class="icon ion-plus-circled"></i><br>Kreiraj trenera</a></div>
      <div class = "col col-50" ><a ng-click="kamera()"><i class="icon ion-plus-circled"></i><br>Skeniraj kod</a></div>
    </div>
    <div class="row" ng-show="admin">
      <div class = "col col-50"><a ng-href="#/kreirajPlacanje"><i class="icon ion-plus-circled"></i><br>Kreiraj placanje</a></div>
      <div class = "col col-50"><a ng-href="#/svaPlacanja"><i class="icon ion-plus-circled"></i><br>Sva placanja</a></div>
    </div>
     <div class="row" ng-show="admin">
      <div class = "col col-50"><a ng-href="#/sveGrupe"><i class="icon ion-plus-circled"></i><br>Sve grupe</a></div>
      <div class = "col col-50"><a ng-href="#/studenti"><i class="icon ion-plus-circled"></i><br>Svi clanovi</a></div>
    </div>
    
  </ion-content>
</ion-view>
