<ion-view>
	<ion-content>
		<div class="form-group">
    <label for="usr">Ime:</label>
    <input type="text" class="form-control" id="ime" placeholder="Petar">
  </div>
  <div class="form-group">
  <label for="sel1">Select list:</label>
  <ion-select class="form-control" id="sel1"  >
    
    <ion-option ng-repeat="trener in treneri" ng-model="filterCondition.operator" >{{trener.ime}}</ion-option>
   
  </ion-select>
</div>
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="submit()" class="btn btn-default">Submit</button>
      </div>
    </div>
	</ion-content>
</ion-view>