<ion-view >
	<ion-content>
		<ion-list>
			<ion-item collection-repeat="student in grupe.studenti track by $index">
				<a href="#/student/{{student.id}}">
					<p>{{student.ime}} {{student.prezime}}</p>
				</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>