<ion-view >
  <ion-content class="padding has-header">
    <div class="kreiraj">
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Ime: </div>
        <div class = "col col-50"><label class="item item-input"><input ng-model="data.ime" type="text" placeholder="" required="true"></label></div>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Trener:
          </div>
          <select ng-model="data.trener">
          <!-- <select ng-model="data.trener" multiple> -->
            <option ng-repeat="trener in treneri" value="{{trener.id}}">{{trener.username}}</option>
          </select>
        </label>
      </div>
      <br><br><br>
      <div class = "row">
        <div class = "col col-50" style="text-align: center"><button ng-click="submit(data)" class="button button-small">Sačuvaj</button> </div>
        <div class = "col col-50"><button class="button button-small">Resetuj</button> </div>
      </div>
    </div>
  </ion-content>
</ion-view>
