<ion-view >
  <ion-content class="padding has-header">
    <div class="kreiraj">
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Ime: </div>
        <div class = "col col-50"><label class="item item-input"><input ng-model="data.ime" type="text" placeholder="" required="true"></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Suma: </div>
        <div class = "col col-50"><label class="item item-input"><input ng-model="data.suma" type="number" placeholder="" required="true"></label></div>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Grupa:
          </div>
          <select ng-model="data.grupa" multiple>
            <option ng-repeat="grupa in grupe" value="{{grupa.id}}">{{grupa.ime}}</option>
          </select>
        </label>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Poruka: </div>
        <div class = "col col-50"><label class="item item-input"><input ng-model="data.poruka" type="text" placeholder="" required="true"></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Rokovi: </div>
        <div class = "col col-50"><label class="item item-input" ng-repeat="rok in rokovi"><div ><input name="{{rok.name}}" type="date" placeholder="" required="true"></label></div></div>
      </div>
      
      <br><br><br>
      <div class = "row">
        <div class = "col col-50" style="text-align: center"><button ng-click="submit(data)"class="button button-small">Sačuvaj</button> </div>
        <div class = "col col-50"><button ng-click = "add()"class="button button-small">Dodaj Rok</button> </div>
      </div>
    </div>
  </ion-content>
</ion-view>
