<ion-view >
  <ion-content class="padding has-header">
    <div class="kreiraj">
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Username: </div>
        <div class = "col col-50"><label class="item item-input"><input  ng-model="data.username" type="text" placeholder="" ></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Ime: </div>
        <div class = "col col-50"><label class="item item-input"><input type="text" placeholder=""  ng-model="data.ime" ></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Prezime: </div>
        <div class = "col col-50"><label class="item item-input"><input  ng-model="data.prezime" type="text" placeholder="" ></label></div>
      </div>
       <div class = "row">
        <div class = "col col-50" style="text-align: left">E-mail: </div>
        <div class = "col col-50"><label class="item item-input"><input ng-model="data.email" type="text" placeholder="" ></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">JMBG: </div>
        <div class = "col col-50"><label class="item item-input"><input ng-model="data.jmbg" type="number" placeholder="" ></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Broj telefona: </div>
        <div class = "col col-50"><label class="item item-input"><input ng-model="data.broj" type="number" placeholder="" ></label></div>
      </div>

  <!--    <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Grupa:
            </div>
            <select>
              <option selected>Izaberi grupu</option>
              <option>Grupa 1</option>
              <option>Grupa 2</option>
              <option>Grupa 3</option>
              <option>Grupa 4</option>
              <option>Grupa 5</option>
            </select>
          </label>
        </div> -->
      <br>
      <br>
      <div class = "row">
        <div class = "col col-50" style="text-align: center"><button ng-click="submit(data)" class="button button-small">Sačuvaj</button> </div>
        <div class = "col col-50"><button class="button button-small">Resetuj</button> </div>
      </div>
    </div>
  </ion-content>
</ion-view>
