<ion-view >
  <ion-content class="padding has-header">
    <div class="kreiraj">
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Ime: </div>
        <div class = "col col-50"><label class="item item-input"><input id="ime" type="text" placeholder=""></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Prezime: </div>
        <div class = "col col-50"><label class="item item-input"><input id="prezime" type="text" placeholder=""></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Adresa: </div>
        <div class = "col col-50"><label class="item item-input"><input id="ulica" type="text" placeholder=""></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">JMBG: </div>
        <div class = "col col-50"><label class="item item-input"><input id="jmbg" type="number" placeholder=""></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Broj telefona: </div>
        <div class = "col col-50"><label class="item item-input"><input id="broj" type="number" placeholder=""></label></div>
      </div>
      

    <!--  <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              Grupa:
            </div>
            <select>
              <option selected>Izaberi grupu</option>
              <option>Grupa 1</option>
              <option>Grupa 2</option>
              <option>Grupa 3</option>
              <option>Grupa 4</option>
              <option>Grupa 5</option>
            </select>
          </label>
        </div> -->
   
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Ime roditelja: </div>
        <div class = "col col-50"><label class="item item-input"><input id="imeRoditelja" type="text" placeholder=""></label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left">Broj roditelja: </div>
        <div class = "col col-50"><label class="item item-input"><input id="brojRoditelja" type="number" placeholder=""></label></div>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Grupa:
          </div>
          <select id = "grupa">
            <option ng-repeat="grupa in grupe" value="{{grupa.id}}">{{grupa.ime}}</option>
          </select>
        </label>
      </div>
       <br>
      <div class = "row">
        <div class = "col col-50" style="text-align: center"><button type="submit" ng-click="submit()" class="button button-small">Sačuvaj</button> </div>
        <div class = "col col-50"><button ng-click="reset()" class="button button-small">Resetuj</button> </div>
      </div>
    </div>
  </ion-content>
</ion-view>
