<ion-view name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="use.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="use.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login(use)">Login</button>
  </ion-content>
</ion-view>