<ion-view >
	<ion-content>
  	<ion-list>
        <ion-item ng-repeat="rok in rokovi">
          <a href="#/studentiZaRok/{{placanjeId}}/{{rok.datum}}"  >
            <p>{{rok.datum}}</p>
          </a>
        </ion-item>
      </ion-list>
	</ion-content>
</ion-view>