<ion-view > 
	<ion-content class="padding has-header">
    <div class="kreiraj">
      <div class="row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Broj telefona</div>
        <div class = "col col-50 item item-input"><input type="text" ng-model="data.brojTelefona"></div>
      </div>
      <div class="row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Sadrzaj poruke:</div>
        <div class="col col-50"><textarea class = "col col-50 item item-input" ng-model="data.sadrzajPoruke"></textarea></div>  
      </div>
      <div class="row">
        <div class="col col-100"><button class="button button-block" ng-click="posaljiSMS(data)">Posalji</button></div>
      </div> 
    </div> 
	</ion-content>
</ion-view>