<ion-view>
	<ion-content>

	<div class = "row">
        
        <div class = "col col-50" style="text-align: center"><button ng-click="prisutan()"class="button button-small">Prisutan</button> </div>
      </div>
	<div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Ime: </div>
        <div class = "col col-50"><label class="item item-input">{{ime}}</label></div>
      </div>
		
		<div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Prezime: </div>
        <div class = "col col-50"><label class="item item-input">{{prezime}}</label></div>
      </div>
		<div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Ime Roditelja: </div>
        <div class = "col col-50"><label class="item item-input">{{imeRoditelja}} </label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Broj: </div>
        <div class = "col col-50"><label class="item item-input">{{broj}}</label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Jmbg: </div>
        <div class = "col col-50"><label class="item item-input">{{jmbg}}</label></div>
      </div>
      <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Broj Roditelja: </div>
        <div class = "col col-50"><label class="item item-input">{{brojRoditelja}}</label></div>
      </div>
		  <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Adresa: </div>
        <div class = "col col-50"><label class="item item-input">{{ulica}}</label></div>
      </div>
      <div class="kreiraj">
      <div class="row">
        <div class="col col-100"><button class="button button-block" ng-click="posaljiSMS()">Posalji SMS</button></div>
      </div> 
    </div> 
    <ion-list>
      <div class="list row">
        <div class="item item-divider col col-30">Ime</div>
        <div class="item item-divider col col-30">Rok</div>
        <div class="item item-divider col col-30">Status</div>
      </div>
      <div class="row" ng-repeat="rok in placanja">
          <p class="item col col-30">{{rok.placanje}}</p>     
          <p class="item col col-30">{{rok.datum}}</p>
          <p class="item col col-30">{{rok.platio}}</p>
      </div>
    </ion-list>

		
	</ion-content>
</ion-view>