<ion-view >
	<ion-content>
	<div class="row">
        <div class="col col-100"><button class="button button-block" ng-click="posaljiSMS()">Posalji SMS</button></div>
      </div>
  	<ion-list>
        <ion-item ng-repeat="student in studenti" class="item " item-right>
        	
        	<i class="ion-checkmark-round" ></i>
          <p>{{student.ime}}</p>
        </ion-item>
      </ion-list>
	</ion-content>
</ion-view>