<ion-view >
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="student in studenti | orderBy:'ime' track by $index ">
			<a href="#/student/{{student.id}}"  >
			<p>{{student.ime}}   ({{student.id}})</p>
			</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>