<ion-view >
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="placanje in placanja track by $index">
			<a href="#/rokoviZaPlacanje/{{$index}}" >
				<p>{{placanje.ime}}</p>
			</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>