<ion-view >
	<ion-content class="padding has-header">
		<ion-list>
			<div class="list row">
				<div class="item item-divider col col-50">Grupe</div>
				<div class="item item-divider col col-50">Treneri</div>
			</div>
			<div class="row" ng-repeat="grupa in grupe">
				<a class="item col col-50" href="#/grupa/{{grupa.id}}"  >
    			<p>{{grupa.ime}}</p>
  				</a>
  				<a class="item col col-50" href="#/trener/{{grupa.trener_id}}" ">
    			<p>{{grupa.trener.ime}}</p>
  				</a>
			</div>
		</ion-list>
	</ion-content>
</ion-view>