<ion-view >
  <ion-content class="padding">
  <button ng-click="kamera()">Skeniraj</button>
   <div class="form-group">
    <label for="usr">Ime:</label>
    <input type="text" class="form-control" id="ime" placeholder="Petar">
  </div>
  <div class="form-group">
    <label for="pwd">Prezime:</label>
    <input type="text" class="form-control" id="prezime" placeholder="Petrovic">
  </div>
  <div class="form-group">
    <label for="usr">Ulica:</label>
    <input type="text" class="form-control" id="ulica" placeholder="Bulevar Nemanjica 1/1">
  </div>
  <div class="form-group">
    <label for="usr">JMBG:</label>
    <input type="number" class="form-control" id="jmbg" placeholder="0101990900911">
  </div>
  <div class="form-group">
    <label for="usr">Broj:</label>
    <input type="number" class="form-control" id="broj" placeholder="064123456789">
  </div>
  <div class="form-group">
    <label for="usr">Ime Roditelja:</label>
    <input type="text" class="form-control" id="imeRoditelja" placeholder="Nikola">
  </div>
  <div class="form-group">
    <label for="usr">Broj Roditelja:</label>
    <input type="number" class="form-control" id="brojRoditelja" placeholder="06512345678">
  </div>
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="submit()" class="btn btn-default">Submit</button>
      </div>
    </div>
    <h1>Online: {{online}}</h1>
  </ion-content>
</ion-view>
