<ion-view>
  <ion-content>
  <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Ime: </div>
        <div class = "col col-50"><label class="item item-input">{{trener.ime}}</label></div>
      </div>
    
    <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Prezime: </div>
        <div class = "col col-50"><label class="item item-input">{{trener.prezime}}</label></div>
      </div>
    <div class = "row">
        <div class = "col col-50" style="text-align: left; padding-top: 5px;">Jmbg: </div>
        <div class = "col col-50"><label class="item item-input">{{trener.jmbg}}</label></div>
    </div>
      
  </ion-content>
</ion-view>