/* Empty. Add your own CSS if you like */

body {
	font-family: impact;
	
}
ion-header-bar{
        background-image: url("img/HEADER.png") !important;
        color: red;
}
ion-content {
   background-image: url('../img/logo crni.png');
   background-size: 150% 120%;
    background-position: 46% 40%;
   
     /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {
    width:100%;
    height:100%;
}
.icon {
   font-size: 150px;
   text-align: center;
   font-family: impact;
   text-decoration: none;
   color : #9c59b6 !important; 
    
}

.row {
	text-align: center;
	 text-decoration: none;
}

.kreiraj {
	padding: 10px;
}



.custom-dark{
    color : #9c59b6 !important; 
    background-color: #9c59b6!important;
 }

 a {
 	text-decoration: none !important;
 	color:  #9c59b6 !important; 
 	font-family: impact;

 }
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 35px;
  height: 35px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


.button {

		border: solid #9c59b6;
	 	font-family: impact !important;
	 	padding-right: 20px;
	 	padding-left: 20px;
	 	border-radius: 0px;
	 	font-size: 15px;
	 	color: black;
}

.trenerBorder {
	border: solid 1px;
	border-color: #9c59b6;
}

.trenerBorder1 {
	border: solid 2px;
	font-size: 17px;
	border-color: #9c59b6;
}